# ✅ Ignore để không bị chồng pubspec.* lên lần copy thứ 2
pubspec.yaml
pubspec.lock

# 🛠️ Output và cache
build/
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android, iOS cache
android/.gradle/
ios/Pods/
ios/Flutter/
macos/Flutter/

# IDE
*.iml
.idea/
.vscode/

# Hệ thống
*.swp
*.swo
*.swn
.DS_Store

# Git
.git/
.gitignore

# Env
.env
.env.*
